<h1>My First Angular Application</h1>

<!-- <app-employee></app-employee> -->
<!-- <app-student></app-student> -->
<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-event-binding1></app-event-binding1> -->
<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-event-binding3></app-event-binding3> -->
<!-- <app-if-directive></app-if-directive> -->
<!-- <app-for-directive></app-for-directive> -->
<!-- <app-switch-directive></app-switch-directive> -->

<button (click)="onClick()">Submit</button>

<app-parent [AppRating]="rating"></app-parent>