
.success{
    color: green;
}

.danger{
    color: red;
}

.warning{
    color: goldenrod;
}

.special{
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
}