
<div class="container-fluid">
<app-header></app-header>
<br>
<div class="row">
    <div class="col">

        <div>
            <button (click)="onAddEmployee()" 
            class="btn btn-success">Add Employee</button>
            <button (click)="onEdit(popUp)" 
            class="btn btn-warning">Update Employee</button>
        </div>
        <br>

        <ng-template #popUp >
          <h2>Pop up is generatated</h2>
          <button (click)="modalRef.hide()" class="btn btn-danger" >Cancel</button>
        </ng-template>    

        <table class="table table-bordered table-hover">
            <thead>
                <th>#</th>
                <th>Action</th>
                <th>Name</th>
                <th>Department</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Updatated Date</th>
                <th>Country</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of EmpData;index as i">
                    <td> {{i+1}} </td>
                    <td title="Select to Update or Delete or Change status of record" 
                    style="text-align: center;">
                    <input type="radio" name="radiocheck" (click)="onRadioClick(item)">
                     </td>
                    <td> <a [routerLink]="['/EmployeeDetails',item.id]"> {{item.name}} </a></td>
                    <td> {{item.departmentit}} </td>
                    <td> {{item.status}} </td>
                    <td> {{item.createddtm|date:'dd-MM-yyyy'}} </td>
                    <td> {{item.updateddtm|date:'dd-MM-yyyy'}} </td>
                    <td> {{item.country.cname}} </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

</div>
